.region-branding {
  .block-system-menublock ul.menu {
    @extend .no-ul-list;
  }
}

#block-lightup-branding {
 vertical-align: bottom;
}
.site-branding-text {
  padding: 30px 10px 20px 0px;
  //margin-bottom: 15px;
  font-size: 220%; //135%;
  vertical-align: bottom;
  display: inline-block;
  a {
    color: #519c00;
  }
  a:hover {
    color: $yellow;
    text-decoration: none;
    cursor: pointer;
  }
}
@media screen and (max-width: 323px) {
  .site-branding-text {
    margin: auto;
    width: 50%;
  }
}
// logo values
div.site-branding a.logo {
  width: 80px;
  display: inline-block;
  padding: 0px 0px 0 10px;
  margin-bottom: 0px;
}
.space-maker {
  height: 0px;
}