//////////////////////////////////
// Custom CSS for Lightup ///////
//////////////////////////////////

// VARIABLES
// see _config.scss

// PAGE

html {
  background-image: url("/themes/custom/lightup/images/page_background.jpg");
}

h1, h2, h3, h4 {
  color: $yellow;
}
h2 {
  font-size: 150%;
  line-height: 120%;
}

.cog--mq {
  max-width: 80em;
  margin-left: auto;
  margin-right: auto;
  margin: 0px auto;
}
// HEADER AND NAV

#branding {
  background: rgb(255, 255, 255); /* Fall-back for browsers that don't support rgba */
  background: rgba(255, 255, 255, 1);
  width: 100%;
  clear: both;
  z-index: 9999;
  padding: 1px;  // not sure why but this stops the gap
}
#block-lightup-account-menu {
  float: right;
  margin-right: 20px;
  font-size: 100%; // 16px > 18px
  a, a:link, a:visited {
    text-decoration: none;
    color: #000000;
    cursor: inherit;
  }
  a:hover {
    color: $yellow;
  }
}
#block-lightup-branding {
  display: inline-block;
}
#block-lightup-main-menu {
  display: inline-block;
  font-size: 112.5%; // 16px > 18px
  text-transform: uppercase;
  padding: 0px 0px 10px 20px;
  ul.menu {
    li {
      margin: 2px 5px;
    }
  }
  a, a:link, a:visited {
    text-decoration: none;
    color: #000000;
    cursor: inherit;
  }
  a:hover {
    color: $yellow;
  }
}

// CONTENT

// added per http://savaslabs.com/2015/07/06/map-in-drupal-8.html
.map--front {
  // Set these to whatever you want.
  height: 120vh;
  width: 100%;
  @include breakpoint($small)  { height: 60vh; }
}

#wsite-title {
  font-family: "Saginaw" !important;
  font-weight: 700 !important;
  color: #76b3b8 !important;
  text-transform: none !important;
  letter-spacing: 3px !important;
}

#content {
  .field--name-body {
    a, a:link, a:visited {
      color: $yellow;
      text-decoration: underline;
    }
    a:hover {
      color: $green;
    }
  }
}
.region-content {
  background: rgb(000, 000, 000); /* Fall-back for browsers that don't support rgba */
  background: rgba(000, 000, 000, 0.7);
  color: #ffffff;
  padding: 20px;
  width: 60%;
  a, a:link, a:visited {
    color: $yellow;
    text-decoration: underline;
  }
  label {
    color: $yellow
  }
}

body.nodetype--light {
  #block-lightup-page-title h1 {
    color: green;
  }
}
#block-views-block-actions-browse-block-1,
#block-views-block-actions-block-2,
#block-views-block-actions-browse-block-1-2 {
  margin-top: 30px;
  border-top: solid 1px $yellow;
  padding-top: 10px;
  .view-header {
    font-style: italic;
    font-size: 85%;
  }
  .views-field-title {
    text-transform: uppercase;
    background: url('/themes/custom/lightup/images/bullet_bulb.png') no-repeat;
    padding: 5px 10px 10px 30px;
  }
}
.action-title {
  color: $yellow;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 20px;
  text-transform: uppercase;
  background: url('/themes/custom/lightup/images/bullet_bulb.png') no-repeat;
  padding: 5px 10px 10px 30px;
  &:hover {
    color: #ffffff;
  }
}
.action-info {
  padding: 10px;
  border:  $yellow solid 1px;
  .action-description {
    font-weight: 87.5%;
    line-height: normal;
    padding-bottom: 10px;
  }
}

.action-link {
  a, a:link, a:visited {
    background-color: #000000;
    border: #ffffff solid 1px;
    color: #ffffff;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      background-color: #ffffff;
      color: #000000;
    }
  }
  margin-bottom: 10px;
}

strong {
  font-weight: bold;
  font-family: 'Poppins Bold';
}

blockquote {
  padding: 0 15px;
  color: $yellow;
  border-left: 4px solid $yellow;
}

fieldset legend {
  font-weight: bold;
  background: none;
  padding: 0 0.1875em;
  margin: 0;
  margin-left: -0.1875em;
}

#edit-field-action--wrapper {
  legend {
    padding: 0 0 20px 0;
  }
  .form-item-field-action {
    border-top: 1px solid $yellow;
    padding-top: 5px;
    margin-bottom: 5px;
  }
  input.field_action,
  label {
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  input.field_action {
    width: 10%;
  }
  label {
    width: 90%;
  }
}

.layout-region-node-secondary {
  .edit-advanced {
  background-color: none;
    color: #ffffff;
    a, a:link, a:visited {
      color: #ffffff;
      text-decoration: underline;
    }
  }
}
.blocked-style, .layout-node-form .layout-region-node-secondary > .form-wrapper,
aside .block, nav.breadcrumb {
  border: 1px solid #fff;
  padding: 12px;
  border-radius: 5px;
  background: none;
}

.field--name-field-representative,
.field--name-field-senator {
  margin-top: 10px;
  .field__label {

  }
}

.body-sidebars-none section#content > * {
  padding-left: 0px;
  padding-right: 0px;
}

.region-footer {
  margin-top: 30px;
  background: rgb(000, 000, 000); /* Fall-back for browsers that don't support rgba */
  background: rgba(000, 000, 000, 0.7);
  color: #ffffff;
  padding: 20px;
  border-top: none;
  a, a:link, a:visited {
    color: $yellow;
    text-decoration: none;
  }
  a:hover {
    color: $green;
  }
}

#block-userregister {
  margin-top: 30px;
  //background: rgb(000, 000, 000); /* Fall-back for browsers that don't support rgba */
  //background: rgba(000, 000, 000, 0.7);
  background-color: $yellow;
  color: #000000;
  padding: 20px;
  border: none;
  a, a:link, a:visited {
    color: $yellow;
    text-decoration: none;
  }
  a:hover {
    color: $green;
  }
}
.page-standard {
  position: relative;
}
.back-to-top {
  position: fixed;
  bottom: 20px;
  left: 10px;
  z-index: 999999;
  background-color: $yellow;
  a {
    display: block;
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    background: url('/themes/custom/lightup/images/top.png') no-repeat;
    width: 40px;
    height: 50px;
  }
}

