//////////////////////////////////
// Custom CSS for Lightup ///////
//////////////////////////////////

// VARIABLES
// see _config.scss

// PAGE

html {
  background-image: url("/themes/custom/lightup/images/page_background.jpg");
}

h1, h2, h3, h4 {
  color: $yellow;
}
h2 {
  font-size: 150%;
  line-height: 120%;
}

// HEADER AND NAV

#branding {
  background: rgb(255, 255, 255); /* Fall-back for browsers that don't support rgba */
  background: rgba(255, 255, 255, 1);
  width: 100%;
  clear: both;
  z-index: 9999;
  padding: 1px;  // not sure why but this stops the gap 
}


#block-lightup-account-menu {
  float: right;
  margin-right: 20px;
  font-size: 100%; // 16px > 18px
  a, a:link, a:visited {
    text-decoration: none;
    color: #000000;
    cursor: inherit;
  }
  a:hover {
    color: $yellow;
  }
}
#block-lightup-branding {
  display: inline-block;
}
#block-lightup-main-menu {
  display: inline-block;
  font-size: 112.5%; // 16px > 18px
  text-transform: uppercase;
  padding: 0px 0px 10px 20px;
  ul.menu {
    li {
      margin: 2px 5px;
    }
  }
  a, a:link, a:visited {
    text-decoration: none;
    color: #000000;
    cursor: inherit;
  }
  a:hover {
    color: $yellow;
  }
}

// CONTENT

// added per http://savaslabs.com/2015/07/06/map-in-drupal-8.html
.map--front {
  // Set these to whatever you want.
  height: 120vh;
  width: 100%;
}

#wsite-title {
  font-family: "Saginaw" !important;
  font-weight: 700 !important;
  color: #76b3b8 !important;
  text-transform: none !important;
  letter-spacing: 3px !important;
}

#content {
  .field--name-body {
    a, a:link, a:visited {
      color: $yellow;
      text-decoration: underline;
    }
  }
}
.region-content {
  background: rgb(000, 000, 000); /* Fall-back for browsers that don't support rgba */
  background: rgba(000, 000, 000, 0.7);
  color: #ffffff;
  padding: 20px;
  width: 60%;
  a, a:link, a:visited {
    color: $yellow;
    text-decoration: underline;
  }
  label {
    color: $yellow
  }
}

body.nodetype--light {
  #block-lightup-page-title h1 {
    color: green;
  }
}

.action-title,
.district-title {
  color: $yellow;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 20px;
}
.action-info,
.district-info {
  padding: 10px;
  border:  $yellow solid 1px;
}

.action-link {
  a {
    background-color: $yellow;
    color: #ffffff;
    padding: 5px;
  }
  margin-bottom: 10px;
}

strong {
  font-weight: bold;
  font-family: 'Poppins Bold';
}

blockquote {
  padding: 0 15px;
  color: $yellow;
  border-left: 4px solid $yellow;
}

