//////////////////////////////////
// Custom CSS for Lightup ///////
//////////////////////////////////

// VARIABLES
// see _config.scss

// PAGE

html {
  background-image: url("/themes/custom/lightup/images/page_background.jpg");

  h1, h2, h3, h4 {
    color: $yellow;
    font-family: 'Open Sans';
    font-weight: 600;
  }
}
h2 {
  font-size: 150%;
  line-height: 120%;
}
.cog--mq {
  max-width: 100%;
  margin: 0;
}
.mq-branding, .region-footer {
  max-width: 1280px;
  margin: 0px auto;
}
.mq-footer {
  background-color: #000;
}
// HEADER AND NAV

#branding {
  background: rgb(255, 255, 255); /* Fall-back for browsers that don't support rgba */
  background: rgba(255, 255, 255, 1);
  width: 100%;
  clear: both;
  z-index: 9999;
  padding: 1px;  // not sure why but this stops the gap
}
.logo img {
  width: 40px;
  margin: 10px;
}
.site-branding-text {
  padding: 10px 0;
  vertical-align: top;
  line-height: 50px;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 30px;
}
.site-branding-name a, .site-branding-name a:hover{
  color: #000;
}
#block-lightup-branding {
  display: inline-block;
}
#block-lightup-main-menu, #block-lightup-account-menu {
  display: inline-block;
  font-size: 15px; // 16px > 18px
  text-transform: uppercase;
  float: right;
  margin-top: 25px;
  font-family: 'Open Sans';
  font-weight: 600;
  ul.menu {
    li {
      margin: 2px 5px;
      border-right: 1px solid #333;
      padding-right: 18px;
    }
  }
  a, a:link, a:visited {
    text-decoration: none;
    color: #000000;
    cursor: inherit;
  }
  a:hover {
    color: #000;
  }
}
#block-lightup-account-menu ul.menu li:last-child {
  border-right: 0;
}

// CONTENT

// added per http://savaslabs.com/2015/07/06/map-in-drupal-8.html
.map-container {
  height: 800px;
}
.map--front {
  // Set these to whatever you want.
  height: 800px;
  width: 100%;
  @include breakpoint($small)  { height: 60vh; }
}

#wsite-title {
  font-family: "Saginaw" !important;
  font-weight: 700 !important;
  color: #76b3b8 !important;
  text-transform: none !important;
  letter-spacing: 3px !important;
}

#content {
  .field--name-body {
    a, a:link, a:visited {
      color: $yellow;
      text-decoration: underline;
    }
    a:hover {
      color: $green;
    }
  }
}
.region-content {
  background: rgb(000, 000, 000); /* Fall-back for browsers that don't support rgba */
  background: rgba(000, 000, 000, 0.85);
  color: #ffffff;
  a, a:link, a:visited {
    color: $yellow;
    text-decoration: underline;
  }
  label {
    color: $yellow
  }
}
.nodetype--page, .path--contact {
  .region-content {
    width: 680px;
    padding: 20px;
    margin: 0 auto;
  }
}

body.nodetype--light {
  #block-lightup-page-title h1 {
    color: green;
  }
}
#block-views-block-actions-browse-block-1,
#block-views-block-actions-block-2,
#block-views-block-actions-browse-block-1-2 {
  margin-top: 30px;
  border-top: solid 1px $yellow;
  padding-top: 10px;
  .view-header {
    font-style: italic;
    font-size: 85%;
  }
  .views-field-title {
    text-transform: uppercase;
    background: url('/themes/custom/lightup/images/bullet_bulb.png') no-repeat;
    padding: 5px 10px 10px 30px;
  }
}
.action-title {
  color: $yellow;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 32px;
  cursor: pointer;
  margin-top: 20px;
  text-transform: uppercase;
  background: url('/themes/custom/lightup/images/bullet_bulb.png') no-repeat;
  padding: 5px 10px 10px 30px;
  &:hover {
    color: #ffffff;
  }
}
.action-info {
  padding: 10px;
  border:  $yellow solid 1px;
  .action-description {
    font-weight: 87.5%;
    line-height: normal;
    padding-bottom: 10px;
  }
}

.action-link {
  a, a:link, a:visited {
    background-color: #000000;
    border: #ffffff solid 1px;
    color: #ffffff;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      background-color: #ffffff;
      color: #000000;
    }
  }
  margin-bottom: 10px;
}

strong {
  font-weight: bold;
  font-family: 'Poppins Bold';
}

blockquote {
  padding: 0 15px;
  color: $yellow;
  border-left: 4px solid $yellow;
}

fieldset legend {
  font-weight: bold;
  background: none;
  padding: 0 0.1875em;
  margin: 0;
  margin-left: -0.1875em;
}

#edit-field-action--wrapper {
  legend {
    padding: 0 0 20px 0;
  }
  .form-item-field-action {
    border-top: 1px solid $yellow;
    padding-top: 5px;
    margin-bottom: 5px;
  }
  input.field_action,
  label {
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  input.field_action {
    width: 10%;
  }
  label {
    width: 90%;
  }
}

.layout-region-node-secondary {
  .edit-advanced {
  background-color: none;
    color: #ffffff;
    a, a:link, a:visited {
      color: #ffffff;
      text-decoration: underline;
    }
  }
}
.blocked-style, .layout-node-form .layout-region-node-secondary > .form-wrapper,
aside .block, nav.breadcrumb {
  border: 1px solid #fff;
  padding: 12px;
  border-radius: 5px;
  background: none;
}

.field--name-field-representative,
.field--name-field-senator {
  margin-top: 10px;
  .field__label {

  }
}

.body-sidebars-none section#content > * {
  padding-left: 0px;
  padding-right: 0px;
}

.region-footer {
  margin-top: 0px;
  background: rgb(000, 000, 000); /* Fall-back for browsers that don't support rgba */
  color: #ffffff;
  padding: 20px;
  border-top: none;
  a, a:link, a:visited {
    color: $yellow;
    text-decoration: none;
  }
  a:hover {
    color: $green;
  }
}

#block-userregister {
  margin-top: 30px;
  //background: rgb(000, 000, 000); /* Fall-back for browsers that don't support rgba */
  //background: rgba(000, 000, 000, 0.7);
  background-color: $yellow;
  color: #000000;
  padding: 20px;
  border: none;
  a, a:link, a:visited {
    color: $yellow;
    text-decoration: none;
  }
  a:hover {
    color: $green;
  }
}
.page-standard {
  position: relative;
}
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 999999;
  background-color: $yellow;
  a {
    display: block;
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    background: url('/themes/custom/lightup/images/top.png') no-repeat;
    background-position: center center;
    width: 50px;
    height: 50px;
  }
}
.view-map {
  position: fixed;
  bottom: 80px;
  right: 10px;
  z-index: 999999;
  background-color: $yellow;
  a {
    display: block;
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    background: url('/themes/custom/lightup/images/view-map.png') no-repeat;
    background-position: center center;
    width: 50px;
    height: 50px;
  }
}
.map-overlay {
  /*
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 500;
  */
  text-align: center;
  background: #000;
  color: #fff;
  padding: 1px 20px 10px 20px;
  h1 {
    color: $yellow;
    font-size: 32px;
  }
  h4 {
    font-size: 25px;
  }
  button {
    margin: 20px auto;
    padding: 5px 16px;
    display: block;
    font-family: 'Open Sans Condensed';
    font-weight: 700;
    font-size: 15px;
  }
  .close {
    position: absolute;
    right: 10px;
    margin: 0;
    color: #fff;
  }
}
#join-and-share {
  display: none;
}
form[name="address"] {
  width: 310px;
  margin: 0 auto;
  .form-group.street {
    width: 310px;
  }
  .city-state {
    display: flex;
  }
  .form-group.city {
    width: 240px;
  }
  .form-group.state {
    width: 48px;
    margin-left: 20px;
  }
  .form-group input[type="text"] {
    width: 100%;
  }
}
.action-script {
  padding: 0 10px;
  border-right: #faca06 solid 1px;
}
.action-reps {
  position: fixed;
  right: 0;
}
.rep {
  display: flex;
  padding: 20px;
}
.rep > div {
  padding: 0 20px;
}
.rep h3 {
  margin: 5px 0;
}
.rep .photo {
  width: 120px;
  min-width: 120px;
  max-height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
}
.rep .phone {
  vertical-align: middle;
  line-height: 32px;
}
.rep .office-name {
  width: 95px;
  display: inline-block;
}
.rep .fa:before {
  margin-right: 5px;
}
.rep .btn {
  padding: 3px 8px;
}
.rep .phone-number {
  display: none;
}
.modal-title {
  img {
    width: 25px;
    margin-right: 8px;
  }
}
.modal .modal-footer {
  text-align: center;
  color: #777;
  a:link {
    text-decoration: none;
    color: #777;
  }
}
.modal-footer b {
  color: #333;
}
.modal-footer i {
  color: #ccc;
}
.modal.in {
    display: flex !important;
    height: 100%;
    color: #333;
}
.modal.in .modal-dialog {
    margin: auto;
}
.modal-dialog {
    overflow-y: initial !important
}
.modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}
.viewmap {
  text-align: center;
}
.close {
  box-shadow: unset;
}
.nodetype--action .block-page-title-block, .nodetype--action .block-tabs {
  display: none;
}
.leaflet-control a, .leaflet-control a:link {
  text-decoration: none;
}
body {
  .modal-backdrop.in {
    opacity: 1;
  }
  .btn, .btn-lg {
    border-radius: 0;
    border: 0;
    box-shadow: none;
    font-family: 'Open Sans Condensed';
    font-weight: 700;
    font-size: 15px;
  }
  .btn-primary {
    background-color: $yellow;
    color: #000;
    text-transform: capitalize;
  }
}

