//////////////////////////////////
// Primary Container Rules ///////
//////////////////////////////////

.cog--mq {
  @include container(80em);

  margin: 10px auto;
}

// added per http://savaslabs.com/2015/07/06/map-in-drupal-8.html
.map--front {
  // Set these to whatever you want.
  height: 100vh;
  width: 100%;
}